<h1>Héroes <small> Marvel y DC</small></h1>
<hr>

<div class="row">
    <div *ngFor="let hero of heroes; let i = index" class="animated fadeIn fast col-md-3">
        <img class="card-img" [src]="hero.img" [alt]="hero.nombre">
        <div class="card-body">
            <h5 class="card-title">{{hero.nombre}}</h5>
            <p class="card-text">{{hero.bio}}</p>
            <p class="card-text"><small class="text-muted">{{hero.aparicion}}</small></p>
            <p class="card-text"><small class="text-muted">{{hero.casa}}</small></p>
            <button (click)="verHeroe(i)" type="button" class="btn btn-outline-primary w-100">
                Ver mas....
            </button>
            <!-- <a [routerLink]="['/hero',i]" class="btn btn-outline-primary w-100"> Ver mas....</a> -->
        </div>
    </div>
</div>